[submodule "HyperGraphRAG"]
	path = HyperGraphRAG
	url = https://github.com/LHRLAB/HyperGraphRAG.git
[submodule "bizra-genesis-node"]
	path = bizra-genesis-node
	url = https://github.com/BizraInfo/bizra-genesis-node.git
[submodule "vendor/agentic-flow"]
	path = vendor/agentic-flow
	url = https://github.com/ruvnet/agentic-flow.git
